<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="../img/ruy.png" />

        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">Ryu jeong han</h1>
        <p>
          Ryu Jeonghan is a transfer student. Previously,
           I graduated from Daegu Youngjin College with a bachelor's degree in ICT semiconductors 
           and transferred to the Department of Computer Engineering at Korea National Transportation University.
           While learning semiconductors, I can't adapt because I learned computers,
            but it's fun to learn new things.
            My hobby is billiards and I like clothes. I hope to start a personal 
            brand someday.

           
        </p>
      </div>
    </div>
  </div>
</main>
